body {
  position: relative;
  height: 100vh;
}
.random-number-block {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: auto;
  background-color: salmon;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 20px 10px;
  border: 1px solid grey;
}
.random-number-block-title {
  font-weight: 600;
  margin: 0;
}
.random-number-block-text {
  font-weight: 800;
  font-size: 40px;
}
.random-number-block-button {
  padding: 10px;
  background-color: bisque;
  border-radius: 6px;
  cursor: pointer;
}
span {
  border-bottom: 1px solid #000;
}

.tasks-block {
  position: absolute;
  z-index: 3;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tasks-block a {
  color: rgb(58, 58, 58);
  text-decoration: none;
}
.tasks-block a:hover {
  text-decoration: underline;
}
